/* Positioning and size */

* {
    background: rgb(230, 230, 144);
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
    grid-template-areas: 
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f f";
}

.header {
    color: antiquewhite;
    background: greenyellow;
    font-size: 35px;
    text-align: center;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / -1; */
    /* grid-column: 1 / 3; */
    grid-area: h;

}

.menu{
    color: antiquewhite;
    background: rgb(255, 47, 220);
    font-size: 35px;
    text-align: center;
    /* grid-row: 1 / 3; */
    grid-area:  m;
    

}

.content{
    color: antiquewhite;
    background: rgb(19, 201, 214);
    font-size: 35px;
    /* grid-column: 2 / -1; */
    grid-area: c;

}

.footer{
    color: antiquewhite;
    background: rgb(255, 141, 47);
    font-size: 35px;
    text-align: center;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / -1; */
    /* grid-column: 1 / 3; */
    grid-area: f;
}